/* font-family: "Fira Sans", serif; */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Fira Sans", serif;;
}

/* common style start */
section{
    max-width: 1280px;
    margin: 0px auto 80px;
}

/* common style end */


/* header section style start */
/* navbar style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* background-color: aqua; */
}
nav .logo{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
nav .signin-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #FFF;
    color: #006A50;
    border: 2px solid #006A50;
    border-radius: 8px;
}


/* header section style end */