/* font-family: "Fira Sans", serif; */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Fira Sans", serif;
    background-color: #F1F1F3;
}

/* common style start */
section:not(header>.nav-section){
    margin: 20px auto 80px;
}
section{
    max-width: 1280px;
    margin: 0px auto;
}

/* common style end */
.btn{
    background-color: #006A50;
    color: #FFF;
    cursor: pointer;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}

/* header section style start */
/* navbar style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* background-color: aqua; */
}
nav .logo{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
nav .signin-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #FFF;
    color: #006A50;
    border: 2px solid #006A50;
    border-radius: 8px;
    transition: color 0.5s linear;
}
nav .signin-btn:hover{
    background-color: #006A50;
    color: #FFF;
}
/* nav style end */

/* hero style start */
.hero-section{
    background-color: #C6E4D6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    /* margin-top: 20px; */
    padding: 80px 60px;
}
/* .hero-section div{
    margin: 80px 60px;
} */
.hero-subtitle{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
.hero-title{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 16px;
    margin-bottom: 24px;
}
.hero-section .hero-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    border: none;
    transition: color 0.5s linear;
}
.hero-section .hero-btn:hover{
    background-color: #fff;
    color: #006A50;
}

/* header section style end */

/* Pillars section style start */
.pillars-title{
    margin-bottom: 32px;
}
.pillers-items{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.pillers-item{
    background-color: #FFF;
    border-radius: 16px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.pillers-item img{
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
}
.pillers-item h5{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.pillers-item p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
/* Pillars sections style end */