/* font-family: "Fira Sans", serif; */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Fira Sans", serif;
    background-color: #F1F1F3;
}

/* common style start */
section:not(header>.nav-section){
    margin: 20px auto 80px;
}
section{
    max-width: 1280px;
    margin: 0px auto;
}
.item img{
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
}
.item h5{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;

}
.item p, .section-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}
/* common style end */
.btn{
    background-color: #006A50;
    color: #FFF;
    cursor: pointer;
    font-weight: 600;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}


/* header section style start */
/* navbar style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* background-color: aqua; */
}
nav .logo{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
nav .signin-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #FFF;
    color: #006A50;
    border: 2px solid #006A50;
    border-radius: 8px;
    transition: color 0.5s linear;
}
nav .signin-btn:hover{
    background-color: #006A50;
    color: #FFF;
}
/* nav style end */

/* hero style start */
.hero-section{
    background-color: #C6E4D6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    /* margin-top: 20px; */
    padding: 80px 60px;
}
/* .hero-section div{
    margin: 80px 60px;
} */
.hero-subtitle{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
.hero-title{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 16px;
    margin-bottom: 24px;
}
.hero-section .hero-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    border: none;
    transition: color 0.5s linear;
}
.hero-section .hero-btn:hover{
    background-color: #fff;
    color: #006A50;
}

/* header section style end */

/* Pillars section style start */
.pillars-title{
    margin-bottom: 32px;
}
.pillers-items{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.pillers-item{
    background-color: #FFF;
    border-radius: 16px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    transition: scale 0.3s linear;
}
.pillers-item:hover{
    scale: 1.05;
}

/* Pillars sections style end */

/* Vision section style start */
.vision-description{
    margin: 24px 0px 32px;
}
.vision-items{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.vision-item{
    padding: 32px;
    border-radius: 16px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    align-items: flex-start;
    width: 410.67px;
    height: 325px;
    transition: border 1s ease-in-out;
}
.vision-item .btn{
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    /* position: absolute;
    left: 32px;
    bottom: 32px; */
    transition: color 0.5s linear;
}
.vision-item-1{
    background-color: rgba(84, 144, 245, 0.2);
}
.vision-item-1:hover{
    border: 2px solid #5490F5;
}
.vision-item-2{
    background-color: #C6E4D6;
}
.vision-item-2:hover{
    border: 2px solid #09A15C;
}
.vision-item-3{
    background-color: #F7EBCF;
}
.vision-item-3:hover{
    border: 2px solid #FFC239;
}
.vision-item .btn-1{
    background-color: #5490F5;
}
.vision-item .btn-1:hover{
    background-color: #fff;
    color: #5490F5;
    border: 1px solid #5490F5;
}
.vision-item .btn-2{
    background-color: #09A15C;
}
.vision-item .btn-2:hover{
    background-color: #FFF;
    color: #09A15C;
    border: 1px solid #09A15C;
}
.vision-item .btn-3{
    background-color: #FFC239;
}
.vision-item .btn-3:hover{
    background-color: #FFF;
    color: #FFC239;
    border: 1px solid #FFC239;
}
/* Vision section style end */

/* Quote section style start */
.quote-description{
    background-color: #FFF;
    margin-top: 32px;
    padding: 48px 24px;
    border-radius: 16px;
    position: relative;
}
.quote-description img{
    width: 64px;
    height: 64px;
    position: absolute;
    top: 25px;
}
.quote-description:first-child{
    color: rgba(14, 14, 14, 0.7);
}
.quote-description h4{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
    margin: 12px 0px 4px;
}
.quote-description:last-child{
    color: rgba(14, 14, 14, 0.6);
}
/* Quote section style end */

/* your opinion section start */
table{
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 1px solid rgba(14, 14, 14,0.15);
}
.opinion-table{
    background-color: #FFF;
    margin-top: 24px;
    padding: 32px;
    border-radius: 16px;
}
table tr th{
    /* display: flex;
    justify-content: space-between; */
    /* display: block; */
    padding: 24px;
}
table .btn-container{
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(14, 14, 14,0.15);
    /* padding: 24px 0px 24px 24px; */
}
table .btn-container .btn{
    /* width: 100%; */
    margin: 24px -8px;
    border: 2px solid #0E0E0E;
    border-radius: 4px;
    padding: 12px 16.5px;
    background-color: #C6E4D6;
}
table tr th p{
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
}
table tr th .para-1{
    float: left;
}
table tr th .para-2{
    float: right;
}
table tr td p{
    margin: 36.5px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
}
table tr td button label{
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
}
table tr td button label select{
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
    background-color: #C6E4D6;
    border: none;
}
/* your opinion section end */

/* Recent news section style start */
.news-section-title{
    margin-bottom: 24px;
}
.news-section-description{
    margin-bottom: 32px;
}
.news-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    background-color: #FFF;
    border-radius: 24px;
    padding: 48px;
    margin-bottom: 24px;
    transition: border 0.5s linear;
}
.news-item:hover{
    border: 1px solid rgba(14, 14, 14,0.15);
}
.news-img img{
    border-radius: 24px;
}
.news-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.channel-logo{
    width: 134px;
    height: 40px;
    margin-bottom: 12px;
}
.news-date-time{
    margin-bottom: 12px;
    display: flex;
    gap: 12px;
}
.news-description{
    margin-bottom: 32px;
}
.news-btn{
    padding: 13px 26px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    transition: color 0.5s linear;
}
.news-btn:hover{
    color: #006A50;
    background-color: #FFF;
    border: 1.5px solid #006A50;
}
.news-item-2{
    flex-direction: row-reverse;
}
/* Recent news section style end */

/* Donate section style start */
.donte-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.donate-title{
    margin-bottom: 24px;
}
.donate-description{
    margin: 0px 88px;
    text-align: center;
}
.donate-amount{
    display: flex;
    justify-content: space-between;
    margin: 32px 104.5px;
    gap: 24px;
}
.amount{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: #fff;
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    transition: background-color 0.3s linear;
}
.amount:hover{
    background-color: #C6E4D6;
}
.input-holter{
    width: 100%;
    padding: 0px 124px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.input-holter input{
    width: 100%;
    height: 64px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);
    border: 1px solid rgba(14, 14, 14, 0.15);
    transition: border 0.5s linear;
}
.input-holter input:hover{
    border: 2px solid rgba(14, 14, 14, 0.3);
}
.donate-btn{
    margin-top: 32px;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    transition: background-color 0.5s linear;
    transition: color 0.5s linear;
}
.donate-btn:hover{
    color: #006A50;
    background: #FFF;
    border: 1px solid #006A50;
}
/* Donate section style end*/

/* Newsletter section style start */
.newsletter-section{
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 265px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter-title{
    margin-bottom: 16px;
    text-align: center;
}
.newsletter-description{
    text-align: center;
    margin-bottom: 24px;
}
.newsletter-sub-fild{
    width: 100%;
    display: flex;
    /* margin: auto; */
    /* background-color: #FFC239; */
    border-radius: 8px;
    /* transition: border 1s linear; */
}
.newsletter-sub-fild:hover{
    border: 1.5px solid #09A15C;
    
}
.newsletter-sub-fild input{
    display: block;
    width: 100%;
    padding: 18px 40px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);
    border: none;
    border-radius: 8px 0px 0px 8px;
}
.newsletter-sub-fild .btn{
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 0px 8px 8px 0px;
    transition: color 0.5s linear;
    transition: background-color 0.5s linear;
}
.newsletter-sub-fild .btn:hover{
    background-color: #FFF;
    color: #006A50;
    border: 1px solid #09A15C;
    border-left: 3px solid #09A15C;
}
.newslatter-container> :last-child{
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
}
/* Newsletter section style end */

/* Footer style start */
footer{
    background-color: #FFF;
}
.footer-title{
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
}
footer hr{
    margin: 32px 239px;

}
footer .social-icon{
    display: flex;
    justify-content: center;
    gap: 23px;
    padding-bottom: 50px;
}
footer .social-icon img{
    width: 24px;
    height: 24px;
    transition: scale 0.3s linear;
}
footer .social-icon img:hover{
    scale: 1.3;
}
/* Footer style end */